* {
  box-sizing: border-box;
}

body {
  background-color: #10131a;
  color: #fff;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  font-family: "Oswald", sans-serif;
  font-size: 2.4rem;
  margin: 0;
}

.top-container {
  display: grid;
  grid-template-areas:
    ". . . . . . . . balance_header"
    "aib  aib trib trib trib trib balance balance balance"
    "aib  aib trib trib trib trib balance balance balance"
    "aib  aib trib trib trib trib balance balance balance"
    "income_button income_button income_button expense_button expense_button expense_button balance balance balance";
  grid-gap: 10px;
  margin: 0;
  max-height: 100vw;
  /* row-gap: 0; */
  /* width: 450px; */
  /* height: 975px; */
}

.top-container .transaction_reason_input_box {
  grid-area: trib;
}

.top-container .amount_input_box {
  grid-area: aib;
}

.top-container p {
  grid-area: balance_header;
  margin: 20px 0 0 0;
  font-size: 1.2rem;
}

.top-container .Income {
  grid-area: income_button;
  background-color: #006a71;
  text-align: center;
  padding: 18px;
  font-size: 1.2rem;
}

.top-container .Expense {
  grid-area: expense_button;
  background-color: #cf1b1b;
  text-align: center;
  padding: 18px;
  font-size: 1.2rem;
}

.top-container .balance {
  grid-area: balance;
  background-color: #0f4c75;
  color: #f5f1da;
  padding: 28px;
  font-size: 2.5rem;
}
